.box-left {
	vertical-align: baseline;
	@media (min-width: 950px) {
		width: 62%;
		padding: 35px 7px 35px 35px;
		float: left;	
	}
}

.main-footer {
	border-top: 5px solid #fff;
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
	@media (min-width: 600px){
		border-top: none;
	}
	@media (min-width: 950px){
		background: #f2f4f6;
	}
}

.foot-nav-container {
 width: 100%;
 padding: 0;
 margin: 0;
 height: auto;
 vertical-align: baseline;
 @media (min-width: 950px) {
		display: block;
		width: 30%;
		margin: 0;
		float: left;
	}
}

.foot-nav {
	background-color: #f2f4f6;
	display: block;
	width: 100%;
	margin: 0 0 1px;
	padding: 0;
	overflow: hidden;
}

.sub-nav-item {
	display: block;
	background-color: transparent;
	width: 100%;
	height: 0px;
	padding: 0;
	position: relative;
	text-align: left;
	vertical-align: middle;	
	transition: height 0.2s linear;
	@media (min-width: 950px) {
		height: auto;
	}
	a {
		color: #7b858e;
		display: inline-block;
		font-size: 12px;
		font-weight: 100;
		line-height: 36px;
		margin: 0;
		padding: 0 15px;
		vertical-align: middle;
		@media (min-width: 950px) {
			line-height: 16px;
			padding: 0;
		}
	}
}

.foot-nav-target {
			height: auto;
			padding: 15px;
			position: relative;
			@media (min-width: 950px) {
				padding: 0 0 5px;
			}
			&:after {
			content: '+';
			color: #7b858e;
			display: inline-block;
			font-size: 12px;
			font-weight: 100;
			position: absolute;
			top: calc(50% - 8px);
			right: 15px;
			@media (min-width: 950px) {
				display: none;
			}
			}
			h3 {
				color: #7b858e;
				display: block;
				font-size: 12px;
				font-weight: bold;
				margin: 0;
				padding: 0;
				position: relative;
			}
		}

.foot-nav-open {
	.foot-nav {
		background-color: #7b858e;
		padding: 0 0 15px;
		.sub-nav-item {
			height: 36px;
			a {
				color: #fff;
			}	
		}	
		.foot-nav-target {
			h3 {
				color: #fff;
			}
			&:after {
				color: #fff;
				content: "_";
				top: calc(50% - 13px);
			}
		}
	}
}






