
.footer-form {
	width: 100%;
	padding: 15px;
	margin: 0;
	float: left;
	@media (min-width: 620px){
		width: 330px
	}
	@media (min-width: 950px){
		width: 100%;
		padding: 35px 35px 15px 0;
	}
	form {
		display: block;
		position: relative;

	}
	input[type='text'] {
		width: 100%;
		padding: 10px;
		font-size: 15px;
		font-weight: 100;
		border-radius: 3px;
		border: 1px solid #b7bec5;
		&:focus {
			box-shadow: 0 0 3px 1px #00afd8;
			outline: none;
		}
	}
	span {
		color: #7b858e;
		display: inline-block;
		position: absolute;
		top: 8px;
		right: 15px;
	}
	p {
		display: inline-block;
		color: #7b858e;
		font-size: 12px;
		padding: 5px 15px 0;
		margin: 0;
	}
}

.box-right {
	display: block;
	width: 100%;
	float: right;
	@media (min-width: 950px){
		display: inline-block;
		width: 38%;
		margin: 0;
	}
}

.social {
	display: inline-block;
	margin: 0;
	padding: 0 15px;
	float: left;
	@media (min-width: 620px){
		float: right;
		padding: 30px 15px 0;
	}
	@media (min-width: 950px){
		padding: 0;
		float: left;
	}
	a {
		background: #fff;
		display: inline-block;
		margin: 0px;
		padding: 5px;
		border: 1px solid #b7bec5;
		border-radius: 50%;
		span {
			display: block;
			width: 18px;
			height: 18px;
			margin: 0;
			padding: 0;
		}
	}
}

.facebook {
	background-image: url(../img/sprites.png);
	background-repeat: no-repeat;
	background-position: 0 -208px;
	background-size: 39px auto;
}

.twitter {
	background-image: url(../img/sprites.png);
	background-repeat: no-repeat;
	background-position: 0 -262px;
	background-size: 39px auto;
}

.pintrest {
	background-image: url(../img/sprites.png);
	background-repeat: no-repeat;
	background-position: 0 -244px;
	background-size: 39px auto;
}

.google {
	background-image: url(../img/sprites.png);
	background-repeat: no-repeat;
	background-position: 0 -226px;
	background-size: 39px auto;
}

.lang {
	display: inline-block;
	margin: 0;
	padding: 0 15px;
	float: right;
	@media (min-width: 620px){
		padding: 30px 15px 0;
	}
	@media (min-width: 950px){
		padding: 0 35px 0 0;
	}
	a {
		color: #b7bec5;
		display: block;
		margin: 0;
		padding: 0;
	}
	div {
		border-right: 1px solid #b7bec5;
		display: inline-block;
		background-image: url(../img/sprites.png);
		background-repeat: no-repeat;
		background-position: 0 -597px;
		background-size: 39px auto;
		height: 23px;
		width: 33px;
		padding: 0 10px 0 0;
		vertical-align: middle;
	}
	span {
		display: inline-block;
		font-size: 12px;
		font-weight: bold;
		line-height: 12px;
		margin: 0;
		padding: 0 10px 0 3px;
		position: relative;
		transition: all 0.2s linear;
		&:hover {
			color: #6b6b6b; 
		}
		&:hover::after {
				right: -3px
			}
		&:after {
			content: ">";
			font-size: 16px;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0px;
			right: 0;
			transition: all 0.2s linear;
		}
	}
}

.copy {
	color: #b7bec5;
	display: block;
	font-size: 9px;
	margin: 0;
	padding: 15px;
	clear: both;
	@media (min-width: 950px) {
		padding: 0 35px;
	}
	span {
		display: none;
		@media (min-width: 950px) {
		display: inline;
		color: #b7bec5;
		padding: 5px;
	}
	}
	a {
		color: #b7bec5;
	}
}










