html {
	margin: 0;
	padding: 0;
  height: 100%;
	width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

  @font-face {
    font-family: Akkurat-Light;
    src: url(../fonts/Akkurat-Light-Regular.otf);
}

body {
  background-color: #e8eaed;
  padding: 0;
  margin: 0;
  width: 100%;
}

.bodywrap {
  background-color: #e8eaed;
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
span {
  font-family: Akkurat-Light, helvetica;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.clear:after {
  content: "";
  display: table;
  clear: both;
}